<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <%- include('../partials/scripts'); %>
</head>
<body>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <main>
    <div class="jumbotron">
      <h1>Ingrese Producto</h1>
      <form action="/product" method="post" style="display: flex; flex-direction: column; width: 60vw; margin: 0 auto;">
        <input type="text" name="title" placeholder="Ingrese titulo" id="">
        <input type="number" name="price" placeholder="Ingrese precio" id="">
        <input type="text" name="thumbnail" placeholder="Ingrese URL de la imagen" id="">
        <input type="submit" value="Enviar">
      </form>
    </div>
    <div class="jumbotron">
      <h1>Historial</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Precio</th>
            <th scope="col">Imagen</th>
          </tr>
        </thead>
        <tbody id="productList">
        </tbody>
      </table>
    </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>
</html>